# List Directories With Color
alias ls="ls -alG"
alias lf="ls -alFG"

# Make Google Chrome Allow Cross Origin
alias acochrome="open -a Google\ Chrome --args --disable-web-security"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Get Current Timestamp
alias timestamp="date +%s"

# Get IP Addresses
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"