# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Easier Git
alias g="git"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# List all files colorized in long format
alias ls="ls -al ${colorflag}"
alias lf="ls -alF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# List Sub-directory Structures under current directory
alias dtr="find . -type d | sed -e 's;[^/]*/;|--;g;s;--|; |;g'"

# List All Files in tree under current directory
alias dftr="find . | sed -e 's;[^/]*/;|--;g;s;--|; |;g'"

# Make Google Chrome Allow Cross Origin
alias acochrome="open -a Google\ Chrome --args --disable-web-security"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Get Current Timestamp
alias timestamp="date +%s"

# Get IP Addresses
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"