[alias]
	st = status
	s = status -sb
	ci = commit -m 
	cm = commit
	df = diff
	co = checkout
	br = branch
	fc = fetch
	pl = pull
	ps = push 
    latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short)'
[color]
	status = auto
	branch = auto
	ui = true
