[alias]
	st = status
	s = status -sb
	ci = commit -m 
	cm = commit
	d = difftool
	df = diff
	co = checkout
	br = branch
	fc = fetch
	pl = pull
	ps = push 
    latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short)'
[color]
	status = auto
	branch = auto
	ui = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
